html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0
}

.dark-mode {
    background-color: darkslategray;
}

body {
    animation: slide-left 500ms;
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
    font-family: Courier, sans-serif;
    display: block;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

nav {
    background-color: aliceblue;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.dark {
    background-color: aliceblue;
    font-family: Courier, sans-serif;
    border: none;
    cursor: pointer;
}

nav a, .dark {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover, .dark a:hover {
    background-color: lightgrey;
    color: white;
}

nav a.active {
    background-color: lightgrey;
    display: block;
}

nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {
        position: relative;
    }

    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

header {
    background-color: lightblue;
    padding: 5%;
    max-width: 100%;
    background-image: linear-gradient(lightblue, lightgreen, lightseagreen);
    animation-name: header;
    animation-duration: 10s;
}

@keyframes header {
    from {
        background-image: linear-gradient(lightblue, lightgreen, lightseagreen);
    }
    to {
        background-image: linear-gradient(lightsteelblue, lightcyan, lightgoldenrodyellow);
    }

}

h2, h4 {
    text-align: center;
}

.flipper {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
    box-shadow: 5px 10px 18px lightgrey;
}

.flipper:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    background-image: linear-gradient(lightblue, lightgreen, lightseagreen);
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.flip p {
    margin-bottom: 1em;
    font-weight: bold;
}

.flip .front,
.flip .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.flip .front strong {
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
}

.flip .back {
    transform: rotateY(180deg);
}

.flipper img {
    max-width: 100%;
    max-height: 100%;
}

.flip .back a {
    padding: 0.3em 0.5em;
    background: lightgreen;
    color: black;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
}

.flip .back a:hover {
    background: lightgrey;
    color: #333;
    text-shadow: 0 0 1px #333;
}

.flipper .flip .back {
    background: linear-gradient(lightsteelblue, lightcyan, lightgoldenrodyellow);
}

.flipper:nth-child(2) .flip {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
}

.flipper:nth-child(3) .flip {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
}

.flipper:nth-child(4) .flip {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}


@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .flipper {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }

    .flip {
        height: 285px;
    }

    .flipper:last-child {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 480px) {
    .flipper {
        width: 94.5%;
    }

    .flip {
        height: 260px;
    }
}

@media screen and (min-width: 992px) {
    .flipper {
        margin-bottom: 2%;
    }
}

.about {
    box-sizing: border-box;
    margin: 8%;
}

@media (max-width: 600px) {
    .tech .flipper .container img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

p {
    font-size: 15px;
    margin: 1%;
    align-content: center;
}

.edu {
    box-sizing: border-box;
    background-color: lightgreen;
    padding: 3%;
    box-shadow: 5px 10px 18px lightseagreen;
    float: left;
    width: 50%;
}

.about:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .edu {
        width: 100%;
    }
}

#cv {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.tech {
    margin: 2% auto;
    padding: 1%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .tech {
        text-align: center;
    }
}


@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.tech img {
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.tech img:hover {
    animation: none;
}

footer {
    box-sizing: border-box;
}

footer:after {
    content: "";
    display: table;
    clear: both;
}

.details {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    details {
        width: 100%;
    }
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #topBtn {
        display: none !important;
    }
}

#topBtn:hover {
    background-color: lightgrey;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 150%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}


